<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Channel</th>
            <th scope="col">Seasons</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serie of series; let i = index">
            <td>{{ i + 1 }}</td>
            <td class="show-card" (click)="mostrarDetalle(serie)">{{ serie.name }}</td>
            <td>{{ serie.channel }}</td>
            <td>{{ serie.seasons }}</td>
          </tr>
        </tbody>
      </table>
      <p>Average Seasons: {{ promedio }}</p>
    </div>
    <div class="col-12 col-lg-6">
      <div id="details">
        <div *ngFor="let serie of series">
          <div class="card-container" *ngIf="serie.mostrarDetalle">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="{{ serie.image }}" alt="{{ serie.name }} picture">
              <div class="card-body">
                <h5 class="card-title">{{ serie.name }}</h5>
                <p class="card-text">{{ serie.description }}</p>
                <a href="{{ serie.link }}" target="_blank">{{ serie.link }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
